# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# -*- coding: utf-8 -*-
"""
Created on Tue May 29 14:38:16 2018
@author: Shiva
"""
import os
#import csv
import pandas as pd
import numpy as np

#create path variable and assign relevant file names.
fp_students=os.path.join("raw_data","students_complete.csv")
fp_schools=os.path.join("raw_data","schools_complete.csv")

#read files into pandas data frames.
students_df = pd.read_csv(fp_students)
print(students_df.head(3))

schools_df  = pd.read_csv(fp_schools)
print(schools_df.head(3))

   Student ID             name gender grade             school  reading_score  \
0           0     Paul Bradley      M   9th  Huang High School             66
1           1     Victor Smith      M  12th  Huang High School             94
2           2  Kevin Rodriguez      M  12th  Huang High School             90

   math_score
0          79
1          61
2          60
   School ID                  name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411
2          2   Shelton High School   Charter  1761  1056600

In [2]:

student_count = students_df["Student ID"].count()
student_count

39170

In [3]:
school_count= schools_df["name"].count()
school_count

15

In [4]:
students_df.columns

Index(['Student ID', 'name', 'gender', 'grade', 'school', 'reading_score',
       'math_score'],
      dtype='object')

In [5]:
tot_budget = schools_df["budget"].sum()
tot_budget

24649428

In [6]:
mean_reading_score = students_df["reading_score"].mean()
mean_reading_score

81.87784018381414

In [7]:
mean_math_score = students_df["math_score"].mean()
mean_math_score

78.98537145774827

In [15]:
pass_math_df_cnt = students_df.loc[students_df["math_score"] > 70,:]["Student ID"].count()
pass_math_df_cnt

28356

In [16]:
pass_math_percent = (pass_math_df_cnt / student_count)*100
pass_math_percent

72.39213683941792

In [17]:
pass_reading_df_cnt = students_df.loc[students_df["reading_score"] > 70]["Student ID"].count()
pass_reading_df_cnt

32500

In [18]:
pass_reading_percent = (pass_reading_df_cnt / student_count)*100
pass_reading_percent

82.97166198621395

In [12]:
overall_pass_percent = (pass_math_percent + pass_reading_percent) / 2 
overall_pass_percent

77.68189941281594

In [78]:
summary_dict={"Total Schools": [school_count], "Total Students": [student_count],"Total Budget":24649428,
              "Average Math Score":mean_math_score,"Average Reading Score":mean_reading_score,
              "% Passing Math":pass_math_percent,"% Passing Reading":pass_reading_percent,
              "Overall Passing Rate":overall_pass_percent
             }

summary_dist_df = pd.DataFrame(summary_dict,columns=["Total Schools","Total Students","Total Budget","Average Math Score",
                                                     "Average Reading Score","% Passing Math","% Passing Reading",
                                                     "Overall Passing Rate"
                                                    ])
summary_dist_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,77.681899

In [79]:
summary_dist_df["Total Students"] = summary_dist_df["Total Students"].map("{:,}".format)

## District Summary

In [80]:
summary_dist_df["Total Budget"]   = summary_dist_df["Total Budget"].map("${:,.2f}".format)
summary_dist_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,72.392137,82.971662,77.681899

In [136]:
schools_ren_df = schools_df.rename(columns={"name": "school"})
#schools_ren_df = schools_ren_df.set_index("school")
del schools_ren_df["School ID"]
schools_ren_df.head(20)

                   school      type  size   budget
0       Huang High School  District  2917  1910635
1    Figueroa High School  District  2949  1884411
2     Shelton High School   Charter  1761  1056600
3   Hernandez High School  District  4635  3022020
4     Griffin High School   Charter  1468   917500
5      Wilson High School   Charter  2283  1319574
6     Cabrera High School   Charter  1858  1081356
7      Bailey High School  District  4976  3124928
8      Holden High School   Charter   427   248087
9        Pena High School   Charter   962   585858
10     Wright High School   Charter  1800  1049400
11  Rodriguez High School  District  3999  2547363
12    Johnson High School  District  4761  3094650
13       Ford High School  District  2739  1763916
14     Thomas High School   Charter  1635  1043130

In [134]:
#mean of reading and math scores by school
students_df_groupsch_avg = students_df.groupby('school').mean()
del students_df_groupsch_avg["Student ID"]
students_df_groupsch_avg.reset_index(level=0, inplace=True)
students_df_groupsch_avg = students_df_groupsch_avg.rename(columns={"reading_score":"avg_reading_score",
                                                                    "math_score":"avg_math_score"})
#students_df_groupsch_avg["school"]=students_df_groupsch_avg.index
students_df_groupsch_avg

                   school  avg_reading_score  avg_math_score
0      Bailey High School          81.033963       77.048432
1     Cabrera High School          83.975780       83.061895
2    Figueroa High School          81.158020       76.711767
3        Ford High School          80.746258       77.102592
4     Griffin High School          83.816757       83.351499
5   Hernandez High School          80.934412       77.289752
6      Holden High School          83.814988       83.803279
7       Huang High School          81.182722       76.629414
8     Johnson High School          80.966394       77.072464
9        Pena High School          84.044699       83.839917
10  Rodriguez High School          80.744686       76.842711
11    Shelton High School          83.725724       83.359455
12     Thomas High School          83.848930       83.418349
13     Wilson High School          83.989488       83.274201
14     Wright High School          83.955000       83.682222

In [160]:
#total students by school.
students_df_groupsch_totstudents = students_df.groupby('school').count()
#students_df_groupsch_totstudents = students_df.groupby(['school'])["name"].count()

#students_df_groupsch_totstudents = pd.DataFrame(students_df_groupsch_totstudents,columns=["Total Student Count"])
students_df_groupsch_totstudents.reset_index(level=0,inplace=True)
#del students_df_groupsch_totstudents[["name","gender","grade","reading_score","math_score"]]
students_df_groupsch_totstudents= students_df_groupsch_totstudents[["school","name"]]
students_df_groupsch_totstudents = students_df_groupsch_totstudents.rename(columns={"name":"Total_student_count"})
students_df_groupsch_totstudents

                   school  Total_student_count
0      Bailey High School                 4976
1     Cabrera High School                 1858
2    Figueroa High School                 2949
3        Ford High School                 2739
4     Griffin High School                 1468
5   Hernandez High School                 4635
6      Holden High School                  427
7       Huang High School                 2917
8     Johnson High School                 4761
9        Pena High School                  962
10  Rodriguez High School                 3999
11    Shelton High School                 1761
12     Thomas High School                 1635
13     Wilson High School                 2283
14     Wright High School                 1800

In [173]:
## Count of students passing math by school
#students_df_groupsch.loc[students_df_groupsch["math_score" > 70]]
#??pass_math_df_cnt = students_df.loc[students_df["math_score"] > 70,:]["Student ID"].count()
school_stu_math_df = students_df.loc[students_df["math_score"] > 70,:]
#school_stu_math_df_cnt= school_stu_math_df.groupby('school').count()
#school_stu_math_df_cnt= school_stu_math_df.groupby('school')["Student ID"].count()
school_stu_math_df_cnt= school_stu_math_df.groupby('school').count()

school_stu_math_df_cnt.reset_index(level=0,inplace=True)
school_stu_math_df_cnt=school_stu_math_df_cnt[["school","name"]]
school_stu_math_df_cnt = school_stu_math_df_cnt.rename(columns={"name":"pass_math_count"})
school_stu_math_df_cnt

                   school  pass_math_count
0      Bailey High School             3216
1     Cabrera High School             1664
2    Figueroa High School             1880
3        Ford High School             1801
4     Griffin High School             1317
5   Hernandez High School             3001
6      Holden High School              387
7       Huang High School             1847
8     Johnson High School             3040
9        Pena High School              882
10  Rodriguez High School             2562
11    Shelton High School             1583
12     Thomas High School             1475
13     Wilson High School             2076
14     Wright High School             1625

In [171]:
#Count of students passing reading.
school_stu_read_df = students_df.loc[students_df["reading_score"] > 70,:]
#school_stu_read_df.head(10)
#school_stu_read_df_cnt= school_stu_read_df.groupby('school')["name"].count()
school_stu_read_df_cnt= school_stu_read_df.groupby('school').count()
school_stu_read_df_cnt.reset_index(level=0,inplace=True)
school_stu_read_df_cnt=school_stu_read_df_cnt[["school","name"]]
#rename column to pass reading count 
school_stu_read_df_cnt=school_stu_read_df_cnt.rename(columns={"name":"pass_reading_cnt"})
school_stu_read_df_cnt

                   school  pass_reading_cnt
0      Bailey High School              3946
1     Cabrera High School              1744
2    Figueroa High School              2313
3        Ford High School              2123
4     Griffin High School              1371
5   Hernandez High School              3624
6      Holden High School               396
7       Huang High School              2299
8     Johnson High School              3727
9        Pena High School               887
10  Rodriguez High School              3109
11    Shelton High School              1631
12     Thomas High School              1519
13     Wilson High School              2129
14     Wright High School              1682

In [137]:
#merge school info and average scores for new summary dataframe1

school_mrg1= pd.merge(schools_ren_df ,students_df_groupsch_avg, on="school")
school_mrg1

,school,type,size,budget,avg_reading_score,avg_math_score
0,Huang High School,District,2917,1910635,81.182722,76.629414
1,Figueroa High School,District,2949,1884411,81.158020,76.711767
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455
3,Hernandez High School,District,4635,3022020,80.934412,77.289752
4,Griffin High School,Charter,1468,917500,83.816757,83.351499
5,Wilson High School,Charter,2283,1319574,83.989488,83.274201
6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895
7,Bailey High School,District,4976,3124928,81.033963,77.048432
8,Holden High School,Charter,427,248087,83.814988,83.803279
9,Pena High School,Charter,962,585858,84.044699,83.839917
10,Wright High School,Charter,1800,1049400,83.955000,83.682222
11,Rodriguez High School,District,3999,2547363,80.744686,76.842711
12,Johnson High School,District,4761,3094650,80.966394,77.072464
13,Ford High School,District,2739,1763916,80.746258,77.102592
14,Thomas High School,Charter,1635,1043130,83.848930,83.418349

In [161]:
#merge the dataframe with total students into the above mrg1 dataframe
school_mrg2 = pd.merge(school_mrg1,students_df_groupsch_totstudents, on="school")
school_mrg2

,school,type,size,budget,avg_reading_score,avg_math_score,Total_student_count
0,Huang High School,District,2917,1910635,81.182722,76.629414,2917
1,Figueroa High School,District,2949,1884411,81.158020,76.711767,2949
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455,1761
3,Hernandez High School,District,4635,3022020,80.934412,77.289752,4635
4,Griffin High School,Charter,1468,917500,83.816757,83.351499,1468
5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,2283
6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,1858
7,Bailey High School,District,4976,3124928,81.033963,77.048432,4976
8,Holden High School,Charter,427,248087,83.814988,83.803279,427
9,Pena High School,Charter,962,585858,84.044699,83.839917,962
10,Wright High School,Charter,1800,1049400,83.955000,83.682222,1800
11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,3999
12,Johnson High School,District,4761,3094650,80.966394,77.072464,4761
13,Ford High School,District,2739,1763916,80.746258,77.102592,2739
14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,1635

In [174]:
school_readmath_cnt_mrg3 = pd.merge(school_stu_math_df_cnt,school_stu_read_df_cnt,on="school")
school_readmath_cnt_mrg3

                   school  pass_math_count  pass_reading_cnt
0      Bailey High School             3216              3946
1     Cabrera High School             1664              1744
2    Figueroa High School             1880              2313
3        Ford High School             1801              2123
4     Griffin High School             1317              1371
5   Hernandez High School             3001              3624
6      Holden High School              387               396
7       Huang High School             1847              2299
8     Johnson High School             3040              3727
9        Pena High School              882               887
10  Rodriguez High School             2562              3109
11    Shelton High School             1583              1631
12     Thomas High School             1475              1519
13     Wilson High School             2076              2129
14     Wright High School             1625              1682

In [176]:
# add math and student pass counts to the merge dataframe - result is mrg4.
school_mrg4 = pd.merge(school_mrg2 ,school_readmath_cnt_mrg3, on="school")
school_mrg4

,school,type,size,budget,avg_reading_score,avg_math_score,Total_student_count,pass_math_count,pass_reading_cnt
0,Huang High School,District,2917,1910635,81.182722,76.629414,2917,1847,2299
1,Figueroa High School,District,2949,1884411,81.158020,76.711767,2949,1880,2313
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455,1761,1583,1631
3,Hernandez High School,District,4635,3022020,80.934412,77.289752,4635,3001,3624
4,Griffin High School,Charter,1468,917500,83.816757,83.351499,1468,1317,1371
5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,2283,2076,2129
6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,1858,1664,1744
7,Bailey High School,District,4976,3124928,81.033963,77.048432,4976,3216,3946
8,Holden High School,Charter,427,248087,83.814988,83.803279,427,387,396
9,Pena High School,Charter,962,585858,84.044699,83.839917,962,882,887
10,Wright High School,Charter,1800,1049400,83.955000,83.682222,1800,1625,1682
11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,3999,2562,3109
12,Johnson High School,District,4761,3094650,80.966394,77.072464,4761,3040,3727
13,Ford High School,District,2739,1763916,80.746258,77.102592,2739,1801,2123
14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,1635,1475,1519

In [178]:
school_mrg4["percent passing math"] = (school_mrg4["pass_math_count"] * 100)/(school_mrg4["Total_student_count"])
school_mrg4

,school,type,size,budget,avg_reading_score,avg_math_score,Total_student_count,pass_math_count,pass_reading_cnt,percent passing math
0,Huang High School,District,2917,1910635,81.182722,76.629414,2917,1847,2299,63.318478
1,Figueroa High School,District,2949,1884411,81.158020,76.711767,2949,1880,2313,63.750424
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455,1761,1583,1631,89.892107
3,Hernandez High School,District,4635,3022020,80.934412,77.289752,4635,3001,3624,64.746494
4,Griffin High School,Charter,1468,917500,83.816757,83.351499,1468,1317,1371,89.713896
5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,2283,2076,2129,90.932983
6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,1858,1664,1744,89.558665
7,Bailey High School,District,4976,3124928,81.033963,77.048432,4976,3216,3946,64.630225
8,Holden High School,Charter,427,248087,83.814988,83.803279,427,387,396,90.632319
9,Pena High School,Charter,962,585858,84.044699,83.839917,962,882,887,91.683992
10,Wright High School,Charter,1800,1049400,83.955000,83.682222,1800,1625,1682,90.277778
11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,3999,2562,3109,64.066017
12,Johnson High School,District,4761,3094650,80.966394,77.072464,4761,3040,3727,63.852132
13,Ford High School,District,2739,1763916,80.746258,77.102592,2739,1801,2123,65.753925
14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,1635,1475,1519,90.214067

In [180]:
school_mrg4["percent passing Reading"] = (school_mrg4["pass_reading_cnt"] * 100)/(school_mrg4["Total_student_count"])
school_mrg4

,school,type,size,budget,avg_reading_score,avg_math_score,Total_student_count,pass_math_count,pass_reading_cnt,percent passing math,percent passing Reading
0,Huang High School,District,2917,1910635,81.182722,76.629414,2917,1847,2299,63.318478,78.813850
1,Figueroa High School,District,2949,1884411,81.158020,76.711767,2949,1880,2313,63.750424,78.433367
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455,1761,1583,1631,89.892107,92.617831
3,Hernandez High School,District,4635,3022020,80.934412,77.289752,4635,3001,3624,64.746494,78.187702
4,Griffin High School,Charter,1468,917500,83.816757,83.351499,1468,1317,1371,89.713896,93.392371
5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,2283,2076,2129,90.932983,93.254490
6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,1858,1664,1744,89.558665,93.864370
7,Bailey High School,District,4976,3124928,81.033963,77.048432,4976,3216,3946,64.630225,79.300643
8,Holden High School,Charter,427,248087,83.814988,83.803279,427,387,396,90.632319,92.740047
9,Pena High School,Charter,962,585858,84.044699,83.839917,962,882,887,91.683992,92.203742
10,Wright High School,Charter,1800,1049400,83.955000,83.682222,1800,1625,1682,90.277778,93.444444
11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,3999,2562,3109,64.066017,77.744436
12,Johnson High School,District,4761,3094650,80.966394,77.072464,4761,3040,3727,63.852132,78.281874
13,Ford High School,District,2739,1763916,80.746258,77.102592,2739,1801,2123,65.753925,77.510040
14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,1635,1475,1519,90.214067,92.905199

In [181]:
school_mrg4["overall passing rate"] = (school_mrg4["percent passing Reading"] + school_mrg4["percent passing math"]  ) / 2
school_mrg4

,school,type,size,budget,avg_reading_score,avg_math_score,Total_student_count,pass_math_count,pass_reading_cnt,percent passing math,percent passing Reading,overall passing rate
0,Huang High School,District,2917,1910635,81.182722,76.629414,2917,1847,2299,63.318478,78.813850,71.066164
1,Figueroa High School,District,2949,1884411,81.158020,76.711767,2949,1880,2313,63.750424,78.433367,71.091896
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455,1761,1583,1631,89.892107,92.617831,91.254969
3,Hernandez High School,District,4635,3022020,80.934412,77.289752,4635,3001,3624,64.746494,78.187702,71.467098
4,Griffin High School,Charter,1468,917500,83.816757,83.351499,1468,1317,1371,89.713896,93.392371,91.553134
5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,2283,2076,2129,90.932983,93.254490,92.093736
6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,1858,1664,1744,89.558665,93.864370,91.711518
7,Bailey High School,District,4976,3124928,81.033963,77.048432,4976,3216,3946,64.630225,79.300643,71.965434
8,Holden High School,Charter,427,248087,83.814988,83.803279,427,387,396,90.632319,92.740047,91.686183
9,Pena High School,Charter,962,585858,84.044699,83.839917,962,882,887,91.683992,92.203742,91.943867
10,Wright High School,Charter,1800,1049400,83.955000,83.682222,1800,1625,1682,90.277778,93.444444,91.861111
11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,3999,2562,3109,64.066017,77.744436,70.905226
12,Johnson High School,District,4761,3094650,80.966394,77.072464,4761,3040,3727,63.852132,78.281874,71.067003
13,Ford High School,District,2739,1763916,80.746258,77.102592,2739,1801,2123,65.753925,77.510040,71.631982
14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,1635,1475,1519,90.214067,92.905199,91.559633

In [183]:
school_mrg4["Per Student Budget"] = school_mrg4["budget"]/school_mrg4["Total_student_count"]
school_mrg4

,school,type,size,budget,avg_reading_score,avg_math_score,Total_student_count,pass_math_count,pass_reading_cnt,percent passing math,percent passing Reading,overall passing rate,Per Student Budget
0,Huang High School,District,2917,1910635,81.182722,76.629414,2917,1847,2299,63.318478,78.813850,71.066164,655.0
1,Figueroa High School,District,2949,1884411,81.158020,76.711767,2949,1880,2313,63.750424,78.433367,71.091896,639.0
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455,1761,1583,1631,89.892107,92.617831,91.254969,600.0
3,Hernandez High School,District,4635,3022020,80.934412,77.289752,4635,3001,3624,64.746494,78.187702,71.467098,652.0
4,Griffin High School,Charter,1468,917500,83.816757,83.351499,1468,1317,1371,89.713896,93.392371,91.553134,625.0
5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,2283,2076,2129,90.932983,93.254490,92.093736,578.0
6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,1858,1664,1744,89.558665,93.864370,91.711518,582.0
7,Bailey High School,District,4976,3124928,81.033963,77.048432,4976,3216,3946,64.630225,79.300643,71.965434,628.0
8,Holden High School,Charter,427,248087,83.814988,83.803279,427,387,396,90.632319,92.740047,91.686183,581.0
9,Pena High School,Charter,962,585858,84.044699,83.839917,962,882,887,91.683992,92.203742,91.943867,609.0
10,Wright High School,Charter,1800,1049400,83.955000,83.682222,1800,1625,1682,90.277778,93.444444,91.861111,583.0
11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,3999,2562,3109,64.066017,77.744436,70.905226,637.0
12,Johnson High School,District,4761,3094650,80.966394,77.072464,4761,3040,3727,63.852132,78.281874,71.067003,650.0
13,Ford High School,District,2739,1763916,80.746258,77.102592,2739,1801,2123,65.753925,77.510040,71.631982,644.0
14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,1635,1475,1519,90.214067,92.905199,91.559633,638.0

In [184]:
del school_mrg4["size"]

school_mrg4

,school,type,budget,avg_reading_score,avg_math_score,Total_student_count,pass_math_count,pass_reading_cnt,percent passing math,percent passing Reading,overall passing rate,Per Student Budget
0,Huang High School,District,1910635,81.182722,76.629414,2917,1847,2299,63.318478,78.813850,71.066164,655.0
1,Figueroa High School,District,1884411,81.158020,76.711767,2949,1880,2313,63.750424,78.433367,71.091896,639.0
2,Shelton High School,Charter,1056600,83.725724,83.359455,1761,1583,1631,89.892107,92.617831,91.254969,600.0
3,Hernandez High School,District,3022020,80.934412,77.289752,4635,3001,3624,64.746494,78.187702,71.467098,652.0
4,Griffin High School,Charter,917500,83.816757,83.351499,1468,1317,1371,89.713896,93.392371,91.553134,625.0
5,Wilson High School,Charter,1319574,83.989488,83.274201,2283,2076,2129,90.932983,93.254490,92.093736,578.0
6,Cabrera High School,Charter,1081356,83.975780,83.061895,1858,1664,1744,89.558665,93.864370,91.711518,582.0
7,Bailey High School,District,3124928,81.033963,77.048432,4976,3216,3946,64.630225,79.300643,71.965434,628.0
8,Holden High School,Charter,248087,83.814988,83.803279,427,387,396,90.632319,92.740047,91.686183,581.0
9,Pena High School,Charter,585858,84.044699,83.839917,962,882,887,91.683992,92.203742,91.943867,609.0
10,Wright High School,Charter,1049400,83.955000,83.682222,1800,1625,1682,90.277778,93.444444,91.861111,583.0
11,Rodriguez High School,District,2547363,80.744686,76.842711,3999,2562,3109,64.066017,77.744436,70.905226,637.0
12,Johnson High School,District,3094650,80.966394,77.072464,4761,3040,3727,63.852132,78.281874,71.067003,650.0
13,Ford High School,District,1763916,80.746258,77.102592,2739,1801,2123,65.753925,77.510040,71.631982,644.0
14,Thomas High School,Charter,1043130,83.848930,83.418349,1635,1475,1519,90.214067,92.905199,91.559633,638.0

In [192]:
school_mrg4 = school_mrg4.rename(columns={"school":"School Name","type":"School Type","budget":"Total School Budget",
                   "avg_reading_score":"Average Reading Score","avg_math_score":"Average Math Score",
                   "percent passing math":"% Passing Math","percent passing Reading":"% Passing Reading",
                   "overall passing rate":"Overall Passing Rate","Per Student Budget":"Per Student Budget"}
                  )
school_mrg4

,School Name,School Type,Total School Budget,Average Reading Score,Average Math Score,Total_student_count,pass_math_count,pass_reading_cnt,% Passing Math,% Passing Reading,Overall Passing Rate,Per Student Budget
0,Huang High School,District,1910635,81.182722,76.629414,2917,1847,2299,63.318478,78.813850,71.066164,655.0
1,Figueroa High School,District,1884411,81.158020,76.711767,2949,1880,2313,63.750424,78.433367,71.091896,639.0
2,Shelton High School,Charter,1056600,83.725724,83.359455,1761,1583,1631,89.892107,92.617831,91.254969,600.0
3,Hernandez High School,District,3022020,80.934412,77.289752,4635,3001,3624,64.746494,78.187702,71.467098,652.0
4,Griffin High School,Charter,917500,83.816757,83.351499,1468,1317,1371,89.713896,93.392371,91.553134,625.0
5,Wilson High School,Charter,1319574,83.989488,83.274201,2283,2076,2129,90.932983,93.254490,92.093736,578.0
6,Cabrera High School,Charter,1081356,83.975780,83.061895,1858,1664,1744,89.558665,93.864370,91.711518,582.0
7,Bailey High School,District,3124928,81.033963,77.048432,4976,3216,3946,64.630225,79.300643,71.965434,628.0
8,Holden High School,Charter,248087,83.814988,83.803279,427,387,396,90.632319,92.740047,91.686183,581.0
9,Pena High School,Charter,585858,84.044699,83.839917,962,882,887,91.683992,92.203742,91.943867,609.0
10,Wright High School,Charter,1049400,83.955000,83.682222,1800,1625,1682,90.277778,93.444444,91.861111,583.0
11,Rodriguez High School,District,2547363,80.744686,76.842711,3999,2562,3109,64.066017,77.744436,70.905226,637.0
12,Johnson High School,District,3094650,80.966394,77.072464,4761,3040,3727,63.852132,78.281874,71.067003,650.0
13,Ford High School,District,1763916,80.746258,77.102592,2739,1801,2123,65.753925,77.510040,71.631982,644.0
14,Thomas High School,Charter,1043130,83.848930,83.418349,1635,1475,1519,90.214067,92.905199,91.559633,638.0

In [213]:
School_summary_df = school_mrg4[["School Name","School Type","Total_student_count","Total School Budget","Per Student Budget",
                                 "Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                 "Overall Passing Rate"]]
School_summary_df

,School Name,School Type,Total_student_count,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.318478,78.813850,71.066164
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,89.892107,92.617831,91.254969
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.746494,78.187702,71.467098
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,89.713896,93.392371,91.553134
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.932983,93.254490,92.093736
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,64.630225,79.300643,71.965434
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.632319,92.740047,91.686183
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.683992,92.203742,91.943867
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.277778,93.444444,91.861111
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.066017,77.744436,70.905226
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.852132,78.281874,71.067003
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,65.753925,77.510040,71.631982
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,90.214067,92.905199,91.559633

In [210]:
#convert budget amounts to numeric values for formatting. 
School_summary_df['Total School Budget'] = pd.to_numeric(School_summary_df["Total School Budget"])
School_summary_df['Per Student Budget'] = pd.to_numeric(School_summary_df["Per Student Budget"])
School_summary_df

C:\Users\Sivakumar\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sivakumar\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,School Name,School Type,Total_student_count,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.318478,78.813850,71.066164
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,89.892107,92.617831,91.254969
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.746494,78.187702,71.467098
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,89.713896,93.392371,91.553134
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.932983,93.254490,92.093736
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,64.630225,79.300643,71.965434
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.632319,92.740047,91.686183
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.683992,92.203742,91.943867
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.277778,93.444444,91.861111
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.066017,77.744436,70.905226
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.852132,78.281874,71.067003
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,65.753925,77.510040,71.631982
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,90.214067,92.905199,91.559633

## School Summary

In [214]:
#Change formtting to numeric. CAN BE RUN ONLY ONCE. previous needs to re-run to run this code again.
School_summary_df["Total School Budget"] = School_summary_df["Total School Budget"].map("${:,.2f}".format)
School_summary_df["Per Student Budget"] = School_summary_df["Per Student Budget"].map("${:,.2f}".format)

C:\Users\Sivakumar\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sivakumar\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [215]:
School_summary_final_df = School_summary_df.set_index("School Name")
School_summary_final_df

,School Type,Total_student_count,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,63.318478,78.813850,71.066164
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,63.750424,78.433367,71.091896
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,89.892107,92.617831,91.254969
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,64.746494,78.187702,71.467098
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,89.713896,93.392371,91.553134
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,90.932983,93.254490,92.093736
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,89.558665,93.864370,91.711518
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,64.630225,79.300643,71.965434
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,90.632319,92.740047,91.686183
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,90.277778,93.444444,91.861111
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,64.066017,77.744436,70.905226
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,63.852132,78.281874,71.067003
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,65.753925,77.510040,71.631982
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,90.214067,92.905199,91.559633

## Top Performing Schools (By Passing Rate)

## Bottom Performing Schools (By Passing Rate)

## Math Scores by Grade

## Reading Score by Grade

## Scores by School Spending

## Scores by School Size

## Scores by School Type