# PyCity Schools Analysis
 
* Overall,smaller  schools seemed to peform better in math, reading and overall passing grades. School size seems to play an important role in the overall passing scores. 

* The data indicates that schools with higher budgets  and higher spending per student did not necessary  yield better test results. 

* Charter schools out-performed the public district schools across all metrics. More analysis may be required to required to determine if the effect is due to smaller school sizes or other factors.

In [1]:
# -*- coding: utf-8 -*-
"""
Created on Tue May 29 14:38:16 2018
@author: Shiva
"""
import os
#import csv
import pandas as pd
import numpy as np

#create path variable and assign relevant file names.
fp_students=os.path.join("raw_data","students_complete.csv")
fp_schools=os.path.join("raw_data","schools_complete.csv")

#read files into pandas data frames.
students_df = pd.read_csv(fp_students)

schools_df  = pd.read_csv(fp_schools)

#print(students_df.head(3))
#print(schools_df.head(3))
students_df.columns

Index(['Student ID', 'name', 'gender', 'grade', 'school', 'reading_score',
       'math_score'],
      dtype='object')

In [2]:
#Determine district totals like total schools, total students, total budget, avg math score, avg reading score, % passing match, 
# % passing reading and overall passing rate. 
school_count= schools_df["name"].count()
student_count = students_df["Student ID"].count()
tot_budget = schools_df["budget"].sum()
mean_reading_score = students_df["reading_score"].mean()
mean_math_score = students_df["math_score"].mean()

#print values to verify 
#print(student_count)
#print(school_count)
#print(tot_budget)
#print(mean_reading_score)
#print(mean_math_score)

In [3]:
#Calulate number of students passing math and then use total student count to calculate % passing math. 
pass_math_df_cnt = students_df.loc[students_df["math_score"] > 70,:]["Student ID"].count()
#pass_math_df_cnt
pass_math_percent = (pass_math_df_cnt / student_count)*100
#print(pass_math_percent)

#Calc % passing reading in a similar fashion. 
pass_reading_df_cnt = students_df.loc[students_df["reading_score"] > 70]["Student ID"].count()
pass_reading_df_cnt
pass_reading_percent = (pass_reading_df_cnt / student_count)*100
#print(pass_reading_percent)

#calc overall pass percent as average of % passing math and % passing  reading.
overall_pass_percent = (pass_math_percent + pass_reading_percent) / 2 
#print(overall_pass_percent)

In [4]:
#Create a summary dict with all the values calculated above and covert to a dataframe. 
summary_dict={"Total Schools": [school_count], "Total Students": [student_count],"Total Budget":tot_budget,
              "Average Math Score":mean_math_score,"Average Reading Score":mean_reading_score,
              "% Passing Math":pass_math_percent,"% Passing Reading":pass_reading_percent,
              "Overall Passing Rate":overall_pass_percent
             }

summary_dist_df = pd.DataFrame(summary_dict,columns=["Total Schools","Total Students","Total Budget","Average Math Score",
                                                     "Average Reading Score","% Passing Math","% Passing Reading",
                                                     "Overall Passing Rate"
                                                    ])
#summary_dist_df.head()

## District Summary

In [5]:
#Final district summary and formatting based on above values. 
summary_dist_df["Total Students"] = summary_dist_df["Total Students"].map("{:,}".format)
summary_dist_df["Total Budget"]   = summary_dist_df["Total Budget"].map("${:,.2f}".format)
summary_dist_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,72.392137,82.971662,77.681899

In [6]:
#Perform steps to determine values needed for school summary.
schools_ren_df = schools_df.rename(columns={"name": "school"})
#schools_ren_df = schools_ren_df.set_index("school")
del schools_ren_df["School ID"]
#schools_ren_df.head(2)

In [7]:
#mean of reading and math scores by school
students_df_groupsch_avg = students_df.groupby('school').mean()
del students_df_groupsch_avg["Student ID"]
students_df_groupsch_avg.reset_index(level=0, inplace=True)
students_df_groupsch_avg = students_df_groupsch_avg.rename(columns={"reading_score":"avg_reading_score",
                                                                    "math_score":"avg_math_score"})
#students_df_groupsch_avg["school"]=students_df_groupsch_avg.index
#students_df_groupsch_avg.head(3)

In [8]:
#total students by school.
students_df_groupsch_totstudents = students_df.groupby('school').count()
#students_df_groupsch_totstudents = students_df.groupby(['school'])["name"].count()

#students_df_groupsch_totstudents = pd.DataFrame(students_df_groupsch_totstudents,columns=["Total Student Count"])
students_df_groupsch_totstudents.reset_index(level=0,inplace=True)
#del students_df_groupsch_totstudents[["name","gender","grade","reading_score","math_score"]]
students_df_groupsch_totstudents= students_df_groupsch_totstudents[["school","name"]]
students_df_groupsch_totstudents = students_df_groupsch_totstudents.rename(columns={"name":"Total_student_count"})
#students_df_groupsch_totstudents.head(3)

In [9]:
## Count of students passing math by school
#students_df_groupsch.loc[students_df_groupsch["math_score" > 70]]
school_stu_math_df = students_df.loc[students_df["math_score"] > 70,:]
#school_stu_math_df_cnt= school_stu_math_df.groupby('school').count()
#school_stu_math_df_cnt= school_stu_math_df.groupby('school')["Student ID"].count()
school_stu_math_df_cnt= school_stu_math_df.groupby('school').count()

school_stu_math_df_cnt.reset_index(level=0,inplace=True)
school_stu_math_df_cnt=school_stu_math_df_cnt[["school","name"]]
school_stu_math_df_cnt = school_stu_math_df_cnt.rename(columns={"name":"pass_math_count"})
#school_stu_math_df_cnt.head(3)

In [10]:
#Count of students passing reading.
school_stu_read_df = students_df.loc[students_df["reading_score"] > 70,:]
#school_stu_read_df.head(10)
#school_stu_read_df_cnt= school_stu_read_df.groupby('school')["name"].count()
school_stu_read_df_cnt= school_stu_read_df.groupby('school').count()
school_stu_read_df_cnt.reset_index(level=0,inplace=True)
school_stu_read_df_cnt=school_stu_read_df_cnt[["school","name"]]
#rename column to pass reading count 
school_stu_read_df_cnt=school_stu_read_df_cnt.rename(columns={"name":"pass_reading_cnt"})
#school_stu_read_df_cnt.head(3)

In [11]:
#merge school info and average scores for new summary dataframe1
school_mrg1= pd.merge(schools_ren_df ,students_df_groupsch_avg, on="school")
#school_mrg1.head(3)

In [12]:
#merge the dataframe with total students into the above mrg1 dataframe
school_mrg2 = pd.merge(school_mrg1,students_df_groupsch_totstudents, on="school")
#school_mrg2.head(3)

In [13]:
school_readmath_cnt_mrg3 = pd.merge(school_stu_math_df_cnt,school_stu_read_df_cnt,on="school")
#school_readmath_cnt_mrg3.head(3)

In [14]:
# add math and student pass counts to the merge dataframe - result is mrg4.
school_mrg4 = pd.merge(school_mrg2 ,school_readmath_cnt_mrg3, on="school")

#Calculate % passing Math and percent passing reading. 
school_mrg4["percent passing math"] = (school_mrg4["pass_math_count"] * 100)/(school_mrg4["Total_student_count"])
school_mrg4["percent passing Reading"] = (school_mrg4["pass_reading_cnt"] * 100)/(school_mrg4["Total_student_count"])

#Calculate overall passing rate as average or percent passing for reading and math.
school_mrg4["overall passing rate"] = (school_mrg4["percent passing Reading"] + school_mrg4["percent passing math"]  ) / 2
#school_mrg4.head(3)

In [15]:
#Determine per student Budget based on total budget / Total student count(size)
school_mrg4["Per Student Budget"] = school_mrg4["budget"]/school_mrg4["Total_student_count"]
del school_mrg4["size"]
#school_mrg4.head(3)

In [16]:
#Rename columns to meaningful names 
school_mrg4 = school_mrg4.rename(columns={"school":"School Name","type":"School Type","budget":"Total School Budget",
                   "avg_reading_score":"Average Reading Score","avg_math_score":"Average Math Score",
                    "Total_student_count":"Total Students","percent passing math":"% Passing Math",
                   "percent passing Reading":"% Passing Reading","overall passing rate":"Overall Passing Rate",
                   "Per Student Budget":"Per Student Budget"}
                  )
#school_mrg4.head(3)

In [17]:
School_summary_df = school_mrg4[["School Name","School Type","Total Students","Total School Budget","Per Student Budget",
                                 "Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                 "Overall Passing Rate"]]
#convert budget amounts to numeric values before formatting. 
School_summary_df['Total School Budget'] = pd.to_numeric(School_summary_df["Total School Budget"])
School_summary_df['Per Student Budget'] = pd.to_numeric(School_summary_df["Per Student Budget"])
##School_summary_df.head(3)
##School_summary_df.dtypes
#Keep a dataframe with numeric values for relevant fields. 
School_summary_dfnum = School_summary_df.copy()
#School_summary_dfnum.head(3)
#School_summary_dfnum.dtypes

C:\Users\Sivakumar\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Sivakumar\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
#Change formtting to numeric. CAN BE RUN ONLY ONCE. previous needs to re-run to run this code again.
School_summary_df["Total School Budget"] = School_summary_df["Total School Budget"].map("${:,.2f}".format)
School_summary_df["Per Student Budget"] = School_summary_df["Per Student Budget"].map("${:,.2f}".format)
#School_summary_dfnum.dtypes

C:\Users\Sivakumar\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sivakumar\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## School Summary

In [33]:
#Set index to school name for final school summary
School_summary_final_df = School_summary_df.set_index("School Name")
School_summary_final_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,63.318478,78.813850,71.066164
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,63.750424,78.433367,71.091896
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,89.892107,92.617831,91.254969
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,64.746494,78.187702,71.467098
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,89.713896,93.392371,91.553134
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,90.932983,93.254490,92.093736
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,89.558665,93.864370,91.711518
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,64.630225,79.300643,71.965434
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,90.632319,92.740047,91.686183
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,90.277778,93.444444,91.861111
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,64.066017,77.744436,70.905226
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,63.852132,78.281874,71.067003
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,65.753925,77.510040,71.631982
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,90.214067,92.905199,91.559633

## Top Performing Schools (By Passing Rate)

In [20]:
#Determine top performing schools by overall passing rate.
schools_top_perform = School_summary_final_df.sort_values(["Overall Passing Rate"], ascending=False)
##schools_top_perform = schools_top_perform.rename(columns={"Total_student_count":"Total Students"})
schools_top_perform.iloc[0:5,:]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,90.932983,93.254490,92.093736
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,90.277778,93.444444,91.861111
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,89.558665,93.864370,91.711518
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,90.632319,92.740047,91.686183

## Bottom Performing Schools (By Passing Rate)

In [21]:
#Determine bottom performing schools by overall passing rate.
schools_bottom_perform = School_summary_final_df.sort_values(["Overall Passing Rate"], ascending=True)
##schools_bottom_perform = schools_bottom_perform.rename(columns={"Total_student_count":"Total Students"})
schools_bottom_perform.iloc[0:5,:]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,64.066017,77.744436,70.905226
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,63.852132,78.281874,71.067003
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,63.750424,78.433367,71.091896
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,64.746494,78.187702,71.467098

## Reading Scores by Grade

In [22]:
#Math scores by passing grade.
#students_gr_grade_df = students_df.groupby(['school','grade']).reading_score.mean()
students_gr_grade_df = students_df.groupby(['school','grade']).reading_score.mean().unstack(level=1)
students_gr_grade_df

grade                       10th       11th       12th        9th
school
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [23]:
#Reading scores by passing grade.
#students_gr_avgreadgrade_df = students_df.groupby(['school','grade']).math_score.mean()
students_gr_avgreadgrade_df = students_df.groupby(['school','grade']).math_score.mean().unstack(level=1)

## Math Score by Grade

In [24]:
students_gr_avgreadgrade_df

grade                       10th       11th       12th        9th
school
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [25]:
#School_summary_dfnum.dtypes

In [26]:
#select relevant columns and assign to new dataframe. This is to start steps for scores by school spending. 

School_summary_df2 = School_summary_dfnum[["Average Math Score", "Average Reading Score","% Passing Math",
                                         "% Passing Reading","Overall Passing Rate","Per Student Budget"]]
#School_summary_df2.head(3)

In [27]:
#scores by School spending
bins=[575,600,625,650,675]
binnames=["575 to 600","600 to 625","625 to 650","650 to 675"]
School_summary_df2["Spending ranges Per student"] = pd.cut(School_summary_df2["Per Student Budget"],bins,labels=binnames)
#School_summary_df2.head(3)

C:\Users\Sivakumar\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

## Scores by School Spending

In [28]:
## create data frame with relevant columns, group by per student summary and calc mean.
##These are the Final scores by school spending. 
School_summary_df3 = School_summary_df2[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                       "Overall Passing Rate", "Spending ranges Per student"]]
School_summary_df3 = School_summary_df3.groupby('Spending ranges Per student')
School_spending_summary_final= School_summary_df3.mean()
School_spending_summary_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending ranges Per student,,,,,
575 to 600,83.436210,83.892196,90.258770,93.184236,91.721503
600 to 625,83.595708,83.930728,90.698944,92.798056,91.748500
625 to 650,78.032719,81.416375,68.711132,80.695926,74.703529
650 to 675,76.959583,81.058567,64.032486,78.500776,71.266631

In [29]:
#Get dataset to df1 to process bins based on school size and create table with avg math score, avg reading score, % passing
#math, % pass reading and overall passing rate.
School_size_df1 = School_summary_dfnum
#School_size_df1.sort_values('Total Students').head(2)

In [30]:
#scores by School size.. define bins for school size. 
School_size_df2 = School_size_df1[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                       "Overall Passing Rate", "Total Students"]]
bins2=[0,1500,3000,5000]
binnames2=["Small<1500 students)","Medium-1500 to 3000 students","Large-3000 to 5000 students"]
School_size_df2["school size summary"] = pd.cut(School_size_df2["Total Students"],bins2,labels=binnames2)
#School_size_df2.tail(2)

C:\Users\Sivakumar\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Scores by School Size

In [31]:
#Group by school size summary and calculate mean of relevant columns.Final for school size summary
School_size_df3 = School_size_df2
del School_size_df3["Total Students"]
School_size_df3 = School_size_df3.groupby("school size summary")

School_size_summary_final= School_size_df3.mean()
School_size_summary_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school size summary,,,,,
Small<1500 students),83.664898,83.892148,90.676736,92.778720,91.727728
Medium-1500 to 3000 students,80.904987,82.822740,80.462303,87.605449,84.033876
Large-3000 to 5000 students,77.063340,80.919864,64.323717,78.378664,71.351190

## Scores by School Type

In [32]:
#Group schools based on school type - Charter, District
school_type_df1 = School_summary_dfnum[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                       "Overall Passing Rate", "School Type"]]
school_type_df2 =  school_type_df1.groupby('School Type')
school_type_df3_final = school_type_df2.mean()
school_type_df3_final

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,90.363226,93.052812,91.708019
District,76.956733,80.966636,64.302528,78.324559,71.313543